#player,#player a{ color:#5D5D5D; }
#player{ background:url(https://blog.kakaocdn.net/dn/bkvVNU/btrWdeH56LU/l0E8tXPKp36m8p8YeDriS1/img.png); background-position: bottom !important; background-repeat: repeat-x !important; }
#player .mainImage{ background:url(https://blog.kakaocdn.net/dn/cpKGZJ/btrWeHbNkj3/GM3tD8IDd8rWKP6vVlwcb1/img.png); }

#player #baseLeft{ width:188px; }
#player #baseRight{ width:145px;}
#player .button{  width:22px; }
#player #pause{ left:32px; }
#player #play{ background:url(https://blog.kakaocdn.net/dn/bkvVNU/btrWdeH56LU/l0E8tXPKp36m8p8YeDriS1/img.png);left:31px; }
#player #previous{ left:8px; }
#player #next{ left:55px; }
#player #title{ left:90px;}
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:5px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#5D5D5D; }
#player #seekerBuffered{ background-color:#E9E9E9; }
#player #seekerSliderBase{ background-color:#5D5D5D; }

#player #volume{ width:70px; right:33px; }
#player #volumeSlider{ width:14px; background:url(https://blog.kakaocdn.net/dn/bkvVNU/btrWdeH56LU/l0E8tXPKp36m8p8YeDriS1/img.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#5D5D5D; color:#5D5D5D; }
#playlist h3{ background-color:#931313; color:#F9D8D8; }
#playlist .even{background-color:#F9D8D8;}
#playlist .odd{ background-color:#E9E9E9;}
#playlist .focus{ background-color:#5D5D5D; color:#F9D8D8;}
